**/.claude/settings.local.json

# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno
.env
.env.local
.env.*.local
.env.docker

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Testing
coverage/

# Docker
.dockerignore

# Archivos de respaldo
*.bak

# Interfaz de administración
nkripta-admin-ui/
